@import "./Them.css";

.cartPageSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InfoCon {
  display: flex;
  gap: 20px;
}
.ContinarCardCart {
  display: flex;
  justify-content: start;
 
  padding: 10px;
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  border: solid 1px rgba(40, 40, 40, 0.149);
  height: 500px;
  width: 1120px;
  display: grid;
  overflow-y: auto;
  gap: 60px;
  grid-template-columns: auto auto;
}
.ButtTotalContinar {
  position: relative;
  border-radius: 5px;
  border: solid 1px rgba(40, 40, 40, 0.149);
  bottom: 50px;
  width: 200px;
  height: 150px;
  padding: 20px;
}

.cartCard {
  background-color: var(--Parent-Color);
  height: 200px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.184);
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.cartCard:hover {
  transform: scale(1.01);
}
.CartImage {
  width: 150px;
  height: 100%;
}
#cartStar {
  position: relative;
  right: 10px;
}
#cartTi {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: var(--Primary-Color);
}
#cartPa {
  position: relative;
  bottom: 5px;
  right: 10px;
  font-size: 15px;
  color: var(--font-Color);
}
.PriceCart {
  position: relative;
  right: 10px;
  font-size: 20px;
}
.PriceContinar {
  position: relative;
  right: 10px;
  bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#TOID {
    color: var(--Primary-Color);
     text-align: center;
}
.SubmitBtn { 
    background-color: var(--Primary-Color);
    border: none;
    outline: none; 
    width: 100%;
    height: 40px;
    color: var(--White-Color);
    font-weight: bolder; 
    font-size: 15px;
    border-radius: 8px; 
    cursor: pointer;
    transition: .5s;
}
.SubmitBtn:hover { 
    letter-spacing: 2px;
    transform: scale(1.04);
}

#priceToT {
    position: relative;
    bottom: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
     color: var(--font-Color);
}
#cartCardFieldId {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#cartimage {
  width: 150px;
  height: 100%;
}
.SilConti {
  position: relative;
  right: 10px;
  font-size: 25px;
  color: var(--font-Color);
  cursor: pointer;
  transition: 0.5s;
}
.SilConti:hover {
  color: red;
}
.favuButton { 
  background-color: var(--Primary-Color);
  color: white;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
}
.favuButton:hover {
  background-color: rgb(3, 3, 112);
}