@import "./Them.css";
.footerSction {
  width: 100%;
  background-color: var(--footerColor);
  height: 350px;
}
.FooterHom {
  position: relative;
  top: 300px;
}

.TitleConFooter {
  width: 400px;
}
.Sci {
  position: relative;
  top: 20px;
  right: 90px;
}
.FooterCon {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ResoursesCon {
  position: relative;
  bottom: 30px;
  width: 180px;
  height: 170px;
}
.CompanyCont {
  width: 100px;
  height: 170px;
}
.ResorceList {
  line-height: 30px;
  list-style: none;
}
.Top {
  line-height: 30px;
  list-style: none;
}
.TopProductsList {
  position: relative;
  top: 15px;
}
#LisLink {
  color: var(--Black-Collor);
  text-decoration: none;
  font-weight: bolder;
}
#RL {
  color: var(--Primary-Color);
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  position: relative;
}

.VirticalLine {
  position: relative;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  height: 0.5px;
  background-color: var(--Primary-Color);
  width: 95%;
}
.FootFooter {
  position: relative;
  top: 80px;
  height: 80px;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  color: var(--Black-Collor);
}
#TriID {
  text-decoration: none;
  color: var(--Black-Collor);
}
