.products-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 800px));
  gap: 5px; 
  justify-content: center; 
  justify-items: center;   
  margin: 30px auto;      
  max-width: 1200px;      
  width: 100%;
}

.product-link {
  text-decoration: none;
}

.product-card {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  background: var(--CardColor);
  border-radius: 16px;
  padding: 20px;
  width: 500px;             
  height: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}



.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  transition: .5s;
}
.product-image:hover {
  transform: scale(1.1);
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;      
  gap: 5px;
  margin-top: 15px;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0 0 5px 0;
}

.product-price {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.product-arrow {
  font-size: 20px;
  color: #fff;                  
  background-color: #8b8a8a;       
  width: 23px;                 
  height: 23px;
  display: flex;                
  align-items: center;
  justify-content: center;
  border-radius: 50%;          
  cursor: pointer;              
  transition: background 0.3s; 
}

.product-arrow:hover {
  background-color: #666;      
}


.product-info-wrapper {
  display: flex;               
  align-items: center;         
  gap: 105px;                   
  margin-top: 10px;
}

.product-text {
  display: flex;
  flex-direction: column;      
  align-items: flex-start;     
  opacity: 0.9;
}
