.shop-layout {
}
.shop-container {
  flex: 1;                  
  display: flex;
  flex-wrap: wrap;         
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: red;
}

.product-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  border-radius: 10px;
  background: white;
  background-color: red;
}
.product-image {
  width: 100%;
  height: auto;
  background-color: red;
}
