:root {
  /*0096C7*/
  /*0077B6*/
  --Parent-Color: #f8f9fa;
  --White-Color: #ffffff;
  --Black-Collor: #000000;
  --Primary-Color: #0077b6;
  --font-Color: #a39da6;
  --CardColor: #f8f9fa;
  --footerColor:  #e7dffa74;
}

