:root {
    /*0096C7*/
    /*0077B6*/
    --Parent-Color: #f8f9fa;
    --White-Color: #ffffff;
    --Black-Collor: #000000;
    --Primary-Color: #0077B6;
    --font-Color : #e3d3d3;
    --CardColor :  #e0eeffb9;
}


/* Dark Theme */
.dark-theme {
  --Parent-Color: #121212;
  --White-Color: #1f1f1f;
  --Black-Collor: #ffffff;
  --Primary-Color: #0096C7;
  --font-Color: #f0f0f0;
  --CardColor: #1e2a38;
}
