@import "../Them.css"; 

.LOGINBTN {
  font-weight: bold;
  color: var( --Primary-Color);
  border-radius: 2rem;
  cursor: pointer;
  width: 70.02px;
  height: 32.66px;
  border: none;
  background-color: var( --Parent-Color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.LOGINBTN .span-mother {
  display: flex;
  overflow: hidden;
}

.LOGINBTN:hover .span-mother {
  position: absolute;
}

.LOGINBTN:hover .span-mother span {
  transform: translateY(1.2em);
}

.LOGINBTN .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.LOGINBTN .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.LOGINBTN .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.LOGINBTN .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.LOGINBTN .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.LOGINBTN .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.LOGINBTN .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.LOGINBTN .span-mother2 span {
  transform: translateY(-1.2em);
}

.LOGINBTN:hover .span-mother2 span {
  transform: translateY(0);
}

.LOGINBTN .span-mother2 span {
  transition: 0.2s;
}

.LOGINBTN .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.LOGINBTN .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.LOGINBTN .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.LOGINBTN .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.LOGINBTN .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}
