@import "../Them.css"; 

.TACOCO { 
    width: 100% ; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.TACO { 
    position: relative;
    bottom: 20px;
    width: 800px; 
    height: 550px;
}